/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Font sets
  • Color sets
  • Utils sets
*/

/*
  • Font sets
  ---------- ---------- ---------- ---------- ----------
*/

$font-default: "DM Sans", Arial, Helvetica, sans-serif;

/*
  • Colors sets
  ---------- ---------- ---------- ---------- ----------
*/

$primary-color: #fe142f;
$secondary-color: #232323;

/*
  • utils sets
  ---------- ---------- ---------- ---------- ----------
*/

$modal-duration: 0.8s;
$body-max-width: 1440px;
$main-radius: 8px;

/*
  • Breakpoints set
  ---------- ---------- ---------- ---------- ----------
*/

$breakpoints: (
        mobile: 580px,
        tablet: 768px,
        desktop: 992px,
);
